@using CollegeManagement.Web.ViewModels;
@model StudentViewModel

<form class="row g-3">
    <div class="col-md-12 text-center">
        <img src="@Model.AvatarPath" height="200"/>
    </div>
    <div class="col-md-6">
        <label class="form-label">Name</label>
        <p class="form-control">@Model.Name</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Gender</label>
        <p class="form-control">@Model.Gender</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Address</label>
        <p class="form-control">@Model.Address</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Date Of Birth</label>
        <p class="form-control">@Model.Dob</p>
    </div>

    <div class="col-md-6">
        <label class="form-label">Roll Number</label>
        <p class="form-control">@Model.RollNo</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Major</label>
        <p class="form-control">@Model.MajorName</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Semester</label>
        <p class="form-control">@Model.Semester</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Contact</label>
        <p class="form-control">@Model.Contact</p>
    </div>
    <div class="col-md-6">
        <a class="btn btn-success" href="/students"><i class="bi bi-arrow-left"></i> Back to Students</a>
    </div>

</form>