@model Student

<form class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Name</label>
        <p class="form-control">@Model.Name</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Roll Number</label>
        <p class="form-control">@Model.RollNo</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Major</label>
        <p class="form-control">@Model.Major</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Semester</label>
        <p class="form-control">@Model.Semester</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Contact</label>
        <p class="form-control">@Model.Contact</p>
    </div>
</form>